<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

  
   <servlet>
  <servlet-name>Index</servlet-name>
  <servlet-class>com.pkg.index</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Index</servlet-name>
  <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>Auth</servlet-name>
  <servlet-class>com.pkg.auth</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Auth</servlet-name>
  <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Consumer</servlet-name>
  <servlet-class>com.pkg.consumer</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Consumer</servlet-name>
  <url-pattern>/consumer</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Manufacturer</servlet-name>
  <servlet-class>com.pkg.manufacturer</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Manufacturer</servlet-name>
  <url-pattern>/manufacturer</url-pattern>
  </servlet-mapping>

  
  <servlet>
  <servlet-name>Profile</servlet-name>
  <servlet-class>com.pkg.profile</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Profile</servlet-name>
  <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  
    
</web-app>